body{
    background-color: rgb(85, 83, 83);
}

.box {
    padding: 2rem;
    background-color: rgba(255, 255, 255,1);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 2rem;
  }

